/** background */
$basic_background: #E2E4E6;
$dark_input: rgba(0, 0, 0, 0.05);
$primary: #61BD4F;
$primary_lg_s: #61BD4F;
$primary_lg_e: #5AAC44;
$primary_lg_h: #519839;

/** border */
$basic_border_color: #AAA;

/** font */
$dark_gray: #4D4D4D;