@import "../color_scheme.scss";
@import "../btn.scss";
@import "form.scss";

.column-empty {
	display: inline-block;
	margin: 0 10px 0 5px;
}

.column-content {
	display: inline-block;
	width: 270px;
}

.column {
	border-radius: 4px;
	display: inline-block;
	width: 270px;
	margin: 0 5px;
	padding: 8px 5px;
	background: $basic_background;

	input.column-name-add-input {
		outline: none;
		background: $dark_input;
		border: 1px solid $basic_border_color;
		border-radius: 3px;
		box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
		color: $dark_gray;
	}

	.column-add-ctrls {
		margin: 4px 0;
	}
}