@import "../color_scheme.scss";
@import "../btn.scss";
@import "form.scss";

.column-empty {
	display: inline-block;

	.column {
		padding: 8px 5px;
		margin: 0 10px 0 5px;
	}
}

.column-content {
	display: inline-block;
	width: 270px;
}

.column {
	border-radius: 4px;
	display: inline-block;
	width: 270px;
	margin: 0 5px;
	background: $basic_background;

	input.column-name-add-input {
		outline: none;
		background: $dark_input;
		border: 1px solid $basic_border_color;
		border-radius: 3px;
		box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
		color: $dark_gray;
	}

	.column-add-ctrls {
		margin: 4px 0;
	}

	.is-editing {
		background: rgba(255, 255, 255, .85);
	}
}

.column-header {
	position: relative;
	font-size: 14px;
	padding: 8px 10px;
	padding-right: 34px;

	div {
		padding-left: 4px;
	}

	textarea {
		width: 100%;
		height: 24px;
		min-height: 16px;
		max-height: 16pc;
		background: $basic_background;
		padding: 3px 5px;
		outline: none;
		border: none;
		resize: none;
		overflow: auto;
		box-shadow: none;
		word-wrap: break-word;
		margin: -3px -5px;
		font-size: 14px;
		border-radius: 3px;
		-webkit-appearance: none;
		appearance: none;
	}
}