@import "../color_scheme.scss";

form {
	input[type="text"] {
		width: 100%;
	}

	input.cloumn-add-btn {
		min-height: 30px;
		height: 30px;
		padding-top: 4px;
		padding-bottom: 4px;
		margin-top: 0;
	}

	.icon-close {
		font-size: 20px;
		line-height: 30px;
		font-family: trellicons;
		text-align: center;
		text-decoration: none;
		color: #999;
		cursor: pointer;

		&:before {
			content: "\e915";
		}

		&:hover {
			color: $dark_gray;
		}
	}
}